<div class="row">
	<div class="col-md-7">
			<center><h3>Your TODO's Here!</h3></center>
			<hr>
			<form id="todo-form" ng-keyup="model.addTodo($event, model.newTodo)">
				<input id="new-todo" placeholder="Enter Todo List" autocomplete="off" ng-model="model.newTodo" ng-disabled="saving" autofocus>
			</form>

			<section id="main" ng-show="model.todos.length" ng-cloak>
					<label for="toggle-all">Mark all as complete</label>
					<ul id="todo-list">
						<li ng-repeat="todo in model.todos | orderBy: todo.status track by $index" ng-class="{completed: todo.completed}">
							<div class="view">
								<input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="model.toggleCompleted(todo.status, $index)">
								<label>{{todo.title}}</label>
								<button class="destroy" ng-click="model.removeTodo($index)"></button>
							</div>
						</li>
					</ul>
				</section>
	</div>
	<div class="col-md-4">
		<center>
			<center>
				<button type="button btn btn-block" class="btn btn-sm btn-info" ng-click="model.today()">Today</button>
			</center>
			<pre><center>Date: <b><em>{{model.dt | date:'fullDate' }}</em></b></center></pre>
		    <div>
		      <div uib-datepicker ng-model="model.dt" class="well well-sm" datepicker-options="model.options"></div>
		    </div>
		</center>
	</div>
</div>
<br><br><br>
<footer></footer>